{% extends 'monitoring/base.html' %}

{% block title %}Dashboard - RPi Cluster Monitoring{% endblock %}

{% block content %}
<h1 class="title has-text-centered">RPi Cluster Monitoring Dashboard</h1>
<h2 class="subtitle has-text-centered">System Status Overview</h2>

<!-- First row of cards -->
<div class="columns is-multiline">
    <div class="column is-half">
        <a href="{% url 'monitoring:remote_script_queen' %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <div class="icon-container">
                        <i class="fas fa-chess-queen fa-5x" style="color: black;"></i>
                    </div>
                    <p class="title is-4">Queen</p>
                    <p class="subtitle is-6">192.168.18.104</p>
                    <p>Remote system monitoring</p>
                </div>
            </div>
        </a>
    </div>

    <div class="column is-half">
        <a href="{% url 'monitoring:remote_script_rook' %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <div class="icon-container">
                        <i class="fas fa-chess-rook fa-5x" style="color: black;"></i>
                    </div>
                    <p class="title is-4">Rook</p>
                    <p class="subtitle is-6">192.168.18.103</p>
                    <p>Remote system monitoring</p>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Second row of cards -->
<div class="columns is-multiline">
    <div class="column is-half">
        <a href="{% url 'monitoring:remote_script_knight' %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <div class="icon-container">
                        <i class="fas fa-chess-knight fa-5x" style="color: black;"></i>
                    </div>
                    <p class="title is-4">Knight</p>
                    <p class="subtitle is-6">192.168.18.102</p>
                    <p>Remote system monitoring</p>
                </div>
            </div>
        </a>
    </div>

    <div class="column is-half">
        <a href="{% url 'monitoring:remote_script_pawn' %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <div class="icon-container">
                        <i class="fas fa-chess-pawn fa-5x" style="color: black;"></i>
                    </div>
                    <p class="title is-4">Pawn</p>
                    <p class="subtitle is-6">192.168.18.101</p>
                    <p>Remote system monitoring</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}
